
.font-lg{
    font-size: 2em; 
    margin-left: 0.5em;
}
.perguntas{
    width: 98%;
    margin-top: 2em;
    margin-left: 0.5em;
}
.pergunta{
    width: 40%;
}

.ajudas{
    width: 30%;
    margin-top: 5em;
    margin-left: 0.5em;
}
.dpnone{
    display: none;
}
.explain{   
    width: 30%;
    position: fixed;
    margin-left: 40em;
    margin-top: -10em;
}
